In [1]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
#read in csv file
pride_2024 = pd.read_csv('pride_2024.csv')
pride_2024.head()

C:\Users\hbour\AppData\Local\Temp\ipykernel_11404\3701557884.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  pride_2024 = pd.read_csv('pride_2024.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1E89FB71E4427631,electric_bike,2024-06-30 02:15:05.286,2024-06-30 02:28:20.009,W 87 St & Amsterdam Ave,7458.03,Broadway & W 142 St,7981.16,40.788517,-73.974877,40.824686,-73.951947,member
1,92B37908AA3C6433,electric_bike,2024-06-29 22:59:06.136,2024-06-29 23:12:09.872,W 87 St & Amsterdam Ave,7458.03,E 74 St & 1 Ave,6953.08,40.788409,-73.974711,40.768974,-73.954823,member
2,8E4893748E625FD8,electric_bike,2024-06-30 19:40:21.538,2024-06-30 20:32:15.297,Waverly Ave & Lafayette Ave,4461.07,Waverly Ave & Lafayette Ave,4461.07,40.688126,-73.966817,40.688231,-73.966804,member
3,8FFF2F844A68A70B,classic_bike,2024-06-30 17:16:46.966,2024-06-30 17:23:10.358,E 10 St & 2 Ave,5746.02,E 1 St & Bowery,5636.13,40.729708,-73.986598,40.724861,-73.992131,member
4,571A08FF3AB95DDC,electric_bike,2024-06-30 10:22:15.173,2024-06-30 10:29:21.093,W 30 St & 8 Ave,6373.07,W 56 St & 8 Ave,6884.03,40.749670,-73.995100,40.765959,-73.983135,member

In [3]:
#convert csv to dataframe
pride_2024_df = pd.DataFrame(pride_2024)

#convert started_at column to datetime
pride_2024_df['started_at'] = pd.to_datetime(pride_2024_df['started_at'])

#convert ended_at column to datetime
pride_2024_df['ended_at'] = pd.to_datetime(pride_2024_df['ended_at'])

In [4]:
#split started_at column into date and time
pride_2024_df['start_date'] = pride_2024_df['started_at'].dt.date
pride_2024_df['start_time'] = pride_2024_df['started_at'].dt.time

#split ended_at column into date and time
pride_2024_df['end_date'] = pride_2024_df['ended_at'].dt.date
pride_2024_df['end_time'] = pride_2024_df['ended_at'].dt.time

#drop started_at and ended_at columns
pride_2024_df = pride_2024_df.drop(columns=['started_at', 'ended_at'])

In [7]:
#create a column for the duration of the event
pride_2024_df['duration'] = (pd.to_datetime(pride_2024_df['end_time'].astype(str)) - pd.to_datetime(pride_2024_df['start_time'].astype(str)))

C:\Users\hbour\AppData\Local\Temp\ipykernel_11404\4261617757.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pride_2024_df['duration'] = (pd.to_datetime(pride_2024_df['end_time'].astype(str)) - pd.to_datetime(pride_2024_df['start_time'].astype(str)))
C:\Users\hbour\AppData\Local\Temp\ipykernel_11404\4261617757.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pride_2024_df['duration'] = (pd.to_datetime(pride_2024_df['end_time'].astype(str)) - pd.to_datetime(pride_2024_df['start_time'].astype(str)))

In [8]:
#convert duration to minutes
pride_2024_df['duration'] = pride_2024_df['duration'].dt.total_seconds() / 60

#convert duration to an integer
pride_2024_df['duration'] = pride_2024_df['duration'].astype(int)

In [9]:
#display dataframe
pride_2024_df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,duration
0,1E89FB71E4427631,electric_bike,W 87 St & Amsterdam Ave,7458.03,Broadway & W 142 St,7981.16,40.788517,-73.974877,40.824686,-73.951947,member,2024-06-30,02:15:05.286000,2024-06-30,02:28:20.009000,13
1,92B37908AA3C6433,electric_bike,W 87 St & Amsterdam Ave,7458.03,E 74 St & 1 Ave,6953.08,40.788409,-73.974711,40.768974,-73.954823,member,2024-06-29,22:59:06.136000,2024-06-29,23:12:09.872000,13
2,8E4893748E625FD8,electric_bike,Waverly Ave & Lafayette Ave,4461.07,Waverly Ave & Lafayette Ave,4461.07,40.688126,-73.966817,40.688231,-73.966804,member,2024-06-30,19:40:21.538000,2024-06-30,20:32:15.297000,51
3,8FFF2F844A68A70B,classic_bike,E 10 St & 2 Ave,5746.02,E 1 St & Bowery,5636.13,40.729708,-73.986598,40.724861,-73.992131,member,2024-06-30,17:16:46.966000,2024-06-30,17:23:10.358000,6
4,571A08FF3AB95DDC,electric_bike,W 30 St & 8 Ave,6373.07,W 56 St & 8 Ave,6884.03,40.749670,-73.995100,40.765959,-73.983135,member,2024-06-30,10:22:15.173000,2024-06-30,10:29:21.093000,7

In [10]:
#change the name of the * values in the rideable_type column to "next gen"
pride_2024_df['rideable_type'] = pride_2024_df['rideable_type'].replace('*', 'next gen')

#reorder columns
pride_2024_df = pride_2024_df[['ride_id', 'rideable_type', 'duration', 'start_date', 'start_time', 'end_date', 'end_time', 'start_station_name', 'end_station_name', 'member_casual']]
pride_2024_df.head()

,ride_id,rideable_type,duration,start_date,start_time,end_date,end_time,start_station_name,end_station_name,member_casual
0,1E89FB71E4427631,electric_bike,13,2024-06-30,02:15:05.286000,2024-06-30,02:28:20.009000,W 87 St & Amsterdam Ave,Broadway & W 142 St,member
1,92B37908AA3C6433,electric_bike,13,2024-06-29,22:59:06.136000,2024-06-29,23:12:09.872000,W 87 St & Amsterdam Ave,E 74 St & 1 Ave,member
2,8E4893748E625FD8,electric_bike,51,2024-06-30,19:40:21.538000,2024-06-30,20:32:15.297000,Waverly Ave & Lafayette Ave,Waverly Ave & Lafayette Ave,member
3,8FFF2F844A68A70B,classic_bike,6,2024-06-30,17:16:46.966000,2024-06-30,17:23:10.358000,E 10 St & 2 Ave,E 1 St & Bowery,member
4,571A08FF3AB95DDC,electric_bike,7,2024-06-30,10:22:15.173000,2024-06-30,10:29:21.093000,W 30 St & 8 Ave,W 56 St & 8 Ave,member

In [11]:
#export dataframe to csv
pride_2024_df.to_csv('pride_2024_clean.csv', index=False)