import & clean raw data

In [1]:
# import dependencies
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import june 2024 data
june_data1 = pd.read_csv('202406-citibike-tripdata_1.csv')

#convert to dataframe
june_data1_df = pd.DataFrame(june_data1)

#check data
june_data1_df.head()

C:\Users\hbour\AppData\Local\Temp\ipykernel_21868\2912557599.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data1 = pd.read_csv('202406-citibike-tripdata_1.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A38B171B6C31691A,electric_bike,2024-06-12 17:47:23.952,2024-06-12 17:50:27.312,E 89 St & 3 Ave,7265.10,1 Ave & E 94 St,7286.05,40.780499,-73.952185,40.781721,-73.945940,member
1,77E13C9D6559EA56,electric_bike,2024-06-04 16:48:42.876,2024-06-04 17:01:46.672,Pier 40 - Hudson River Park,5696.03,W 25 St & 9 Ave,6339.06,40.728060,-74.011184,40.747833,-74.000572,member
2,EA6418AD826D19D9,electric_bike,2024-06-01 13:36:28.502,2024-06-01 13:52:55.912,W 44 St & 5 Ave,6551.02,E 75 St & 3 Ave,6991.12,40.754621,-73.980641,40.771129,-73.957723,member
3,121CF2548FB65A29,classic_bike,2024-06-01 03:12:09.636,2024-06-01 03:16:29.531,Graham Ave & Withers St,5403.04,Meserole Ave & Manhattan Ave,5666.04,40.716981,-73.944859,40.727086,-73.952991,member
4,E6BE7FD2809649D6,electric_bike,2024-06-08 13:14:31.197,2024-06-08 13:24:09.858,E 9 St & Ave C,5616.01,Cleveland Pl & Spring St,5492.05,40.725241,-73.977735,40.722104,-73.997249,member

In [3]:
#check data types
june_data1_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [4]:
#convert started_at and ended_at to datetime
june_data1_df['started_at'] = pd.to_datetime(june_data1_df['started_at'])
june_data1_df['ended_at'] = pd.to_datetime(june_data1_df['ended_at'])

#convert start_station_name and end_station_name to string
june_data1_df['start_station_name'] = june_data1_df['start_station_name'].astype(str)
june_data1_df['end_station_name'] = june_data1_df['end_station_name'].astype(str)

#check data types
june_data1_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [5]:
#repeat for the remaining csv files
june_data2 = pd.read_csv('202406-citibike-tripdata_2.csv')
june_data2_df = pd.DataFrame(june_data2)


june_data3 = pd.read_csv('202406-citibike-tripdata_3.csv')
june_data3_df = pd.DataFrame(june_data3)


june_data4 = pd.read_csv('202406-citibike-tripdata_4.csv')
june_data4_df = pd.DataFrame(june_data4)

june_data5 = pd.read_csv('202406-citibike-tripdata_5.csv')
june_data5_df = pd.DataFrame(june_data5)

C:\Users\hbour\AppData\Local\Temp\ipykernel_21868\1278618002.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data2 = pd.read_csv('202406-citibike-tripdata_2.csv')
C:\Users\hbour\AppData\Local\Temp\ipykernel_21868\1278618002.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data3 = pd.read_csv('202406-citibike-tripdata_3.csv')
C:\Users\hbour\AppData\Local\Temp\ipykernel_21868\1278618002.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data4 = pd.read_csv('202406-citibike-tripdata_4.csv')
C:\Users\hbour\AppData\Local\Temp\ipykernel_21868\1278618002.py:13: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data5 = pd.read_csv('202406-citibike-tripdata_5.csv')

In [6]:
#change dtypes and remove missing values for remaining csv files

#june_data2
june_data2_df['started_at'] = pd.to_datetime(june_data2_df['started_at'])
june_data2_df['ended_at'] = pd.to_datetime(june_data2_df['ended_at'])
june_data2_df['start_station_name'] = june_data2_df['start_station_name'].astype(str)
june_data2_df['end_station_name'] = june_data2_df['end_station_name'].astype(str)


#june_data3
june_data3_df['started_at'] = pd.to_datetime(june_data3_df['started_at'])
june_data3_df['ended_at'] = pd.to_datetime(june_data3_df['ended_at'])
june_data3_df['start_station_name'] = june_data3_df['start_station_name'].astype(str)
june_data3_df['end_station_name'] = june_data3_df['end_station_name'].astype(str)


#june_data4
june_data4_df['started_at'] = pd.to_datetime(june_data4_df['started_at'])
june_data4_df['ended_at'] = pd.to_datetime(june_data4_df['ended_at'])
june_data4_df['start_station_name'] = june_data4_df['start_station_name'].astype(str)
june_data4_df['end_station_name'] = june_data4_df['end_station_name'].astype(str)

#june_data5
june_data5_df['started_at'] = pd.to_datetime(june_data5_df['started_at'])
june_data5_df['ended_at'] = pd.to_datetime(june_data5_df['ended_at'])
june_data5_df['start_station_name'] = june_data5_df['start_station_name'].astype(str)
june_data5_df['end_station_name'] = june_data5_df['end_station_name'].astype(str)

In [7]:
#concatenate all dataframes
june_data_df = pd.concat([june_data1_df, june_data2_df, june_data3_df, june_data4_df, june_data5_df])

#check data
june_data_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A38B171B6C31691A,electric_bike,2024-06-12 17:47:23.952,2024-06-12 17:50:27.312,E 89 St & 3 Ave,7265.10,1 Ave & E 94 St,7286.05,40.780499,-73.952185,40.781721,-73.945940,member
1,77E13C9D6559EA56,electric_bike,2024-06-04 16:48:42.876,2024-06-04 17:01:46.672,Pier 40 - Hudson River Park,5696.03,W 25 St & 9 Ave,6339.06,40.728060,-74.011184,40.747833,-74.000572,member
2,EA6418AD826D19D9,electric_bike,2024-06-01 13:36:28.502,2024-06-01 13:52:55.912,W 44 St & 5 Ave,6551.02,E 75 St & 3 Ave,6991.12,40.754621,-73.980641,40.771129,-73.957723,member
3,121CF2548FB65A29,classic_bike,2024-06-01 03:12:09.636,2024-06-01 03:16:29.531,Graham Ave & Withers St,5403.04,Meserole Ave & Manhattan Ave,5666.04,40.716981,-73.944859,40.727086,-73.952991,member
4,E6BE7FD2809649D6,electric_bike,2024-06-08 13:14:31.197,2024-06-08 13:24:09.858,E 9 St & Ave C,5616.01,Cleveland Pl & Spring St,5492.05,40.725241,-73.977735,40.722104,-73.997249,member

Isolate the data to show Citibike usage during the weekend of NYC Pride Festival 2024
June 28, 2024 - June 30, 2024

In [8]:
#isloate data for specified date range
pride_weekend_2024 = june_data_df[(june_data_df['started_at'] >= '2024-06-28 00:00:00') & (june_data_df['ended_at'] <= '2024-06-30 23:59:59')]
pride_weekend_2024.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
249240,1E89FB71E4427631,electric_bike,2024-06-30 02:15:05.286,2024-06-30 02:28:20.009,W 87 St & Amsterdam Ave,7458.03,Broadway & W 142 St,7981.16,40.788517,-73.974877,40.824686,-73.951947,member
249242,92B37908AA3C6433,electric_bike,2024-06-29 22:59:06.136,2024-06-29 23:12:09.872,W 87 St & Amsterdam Ave,7458.03,E 74 St & 1 Ave,6953.08,40.788409,-73.974711,40.768974,-73.954823,member
249261,8E4893748E625FD8,electric_bike,2024-06-30 19:40:21.538,2024-06-30 20:32:15.297,Waverly Ave & Lafayette Ave,4461.07,Waverly Ave & Lafayette Ave,4461.07,40.688126,-73.966817,40.688231,-73.966804,member
249268,8FFF2F844A68A70B,classic_bike,2024-06-30 17:16:46.966,2024-06-30 17:23:10.358,E 10 St & 2 Ave,5746.02,E 1 St & Bowery,5636.13,40.729708,-73.986598,40.724861,-73.992131,member
249274,571A08FF3AB95DDC,electric_bike,2024-06-30 10:22:15.173,2024-06-30 10:29:21.093,W 30 St & 8 Ave,6373.07,W 56 St & 8 Ave,6884.03,40.749670,-73.995100,40.765959,-73.983135,member

In [9]:
#export to csv
pride_weekend_2024.to_csv('pride_2024.csv', index=False)