import & clean raw data

In [1]:
# import dependencies
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import june 2024 data
june_data1 = pd.read_csv('202306-citibike-tripdata_1.csv')

#convert to dataframe
june_data1_df = pd.DataFrame(june_data1)

#check data
june_data1_df.head()

C:\Users\hbour\AppData\Local\Temp\ipykernel_22132\1263985695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data1 = pd.read_csv('202306-citibike-tripdata_1.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,42AB78322C5F0831,classic_bike,2023-06-13 08:34:46.657,2023-06-13 08:43:31.038,W 20 St & 10 Ave,6306.01,5 Ave & E 29 St,6248.06,40.745686,-74.005141,40.745168,-73.986831,member
1,101B095C96F84BD5,classic_bike,2023-06-02 16:19:09.639,2023-06-02 16:28:59.511,W 20 St & 10 Ave,6306.01,5 Ave & E 29 St,6248.06,40.745686,-74.005141,40.745168,-73.986831,member
2,88752D6D71719632,electric_bike,2023-06-18 18:24:00.836,2023-06-18 18:46:14.601,W 54 St & 9 Ave,6920.03,Mott St & Prince St,5561.04,40.765825,-73.986605,40.723180,-73.994800,member
3,8131A3E9C9B9D706,electric_bike,2023-06-20 16:41:37.460,2023-06-20 16:46:17.126,Lafayette St & Grand St,5422.09,Allen St & Rivington St,5414.06,40.720403,-73.998831,40.720196,-73.989978,member
4,9599302368098F9D,classic_bike,2023-06-16 20:30:31.648,2023-06-16 20:36:52.546,Lafayette St & Grand St,5422.09,Allen St & Rivington St,5414.06,40.720280,-73.998790,40.720196,-73.989978,member

In [3]:
#check data types
june_data1_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [4]:
#convert started_at and ended_at to datetime
june_data1_df['started_at'] = pd.to_datetime(june_data1_df['started_at'])
june_data1_df['ended_at'] = pd.to_datetime(june_data1_df['ended_at'])

#convert start_station_name and end_station_name to string
june_data1_df['start_station_name'] = june_data1_df['start_station_name'].astype(str)
june_data1_df['end_station_name'] = june_data1_df['end_station_name'].astype(str)

#check data types
june_data1_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [5]:
#repeat for the remaining csv files
june_data2 = pd.read_csv('202306-citibike-tripdata_2.csv')
june_data2_df = pd.DataFrame(june_data2)


june_data3 = pd.read_csv('202306-citibike-tripdata_3.csv')
june_data3_df = pd.DataFrame(june_data3)


june_data4 = pd.read_csv('202306-citibike-tripdata_4.csv')
june_data4_df = pd.DataFrame(june_data4)

C:\Users\hbour\AppData\Local\Temp\ipykernel_22132\1234996439.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data2 = pd.read_csv('202306-citibike-tripdata_2.csv')
C:\Users\hbour\AppData\Local\Temp\ipykernel_22132\1234996439.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data3 = pd.read_csv('202306-citibike-tripdata_3.csv')
C:\Users\hbour\AppData\Local\Temp\ipykernel_22132\1234996439.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_data4 = pd.read_csv('202306-citibike-tripdata_4.csv')

In [6]:
#change dtypes and remove missing values for remaining csv files

#june_data2
june_data2_df['started_at'] = pd.to_datetime(june_data2_df['started_at'])
june_data2_df['ended_at'] = pd.to_datetime(june_data2_df['ended_at'])
june_data2_df['start_station_name'] = june_data2_df['start_station_name'].astype(str)
june_data2_df['end_station_name'] = june_data2_df['end_station_name'].astype(str)


#june_data3
june_data3_df['started_at'] = pd.to_datetime(june_data3_df['started_at'])
june_data3_df['ended_at'] = pd.to_datetime(june_data3_df['ended_at'])
june_data3_df['start_station_name'] = june_data3_df['start_station_name'].astype(str)
june_data3_df['end_station_name'] = june_data3_df['end_station_name'].astype(str)


#june_data4
june_data4_df['started_at'] = pd.to_datetime(june_data4_df['started_at'])
june_data4_df['ended_at'] = pd.to_datetime(june_data4_df['ended_at'])
june_data4_df['start_station_name'] = june_data4_df['start_station_name'].astype(str)
june_data4_df['end_station_name'] = june_data4_df['end_station_name'].astype(str)

In [8]:
#concatenate all dataframes
june_data_df = pd.concat([june_data1_df, june_data2_df, june_data3_df, june_data4_df])

#check data
june_data_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,42AB78322C5F0831,classic_bike,2023-06-13 08:34:46.657,2023-06-13 08:43:31.038,W 20 St & 10 Ave,6306.01,5 Ave & E 29 St,6248.06,40.745686,-74.005141,40.745168,-73.986831,member
1,101B095C96F84BD5,classic_bike,2023-06-02 16:19:09.639,2023-06-02 16:28:59.511,W 20 St & 10 Ave,6306.01,5 Ave & E 29 St,6248.06,40.745686,-74.005141,40.745168,-73.986831,member
2,88752D6D71719632,electric_bike,2023-06-18 18:24:00.836,2023-06-18 18:46:14.601,W 54 St & 9 Ave,6920.03,Mott St & Prince St,5561.04,40.765825,-73.986605,40.723180,-73.994800,member
3,8131A3E9C9B9D706,electric_bike,2023-06-20 16:41:37.460,2023-06-20 16:46:17.126,Lafayette St & Grand St,5422.09,Allen St & Rivington St,5414.06,40.720403,-73.998831,40.720196,-73.989978,member
4,9599302368098F9D,classic_bike,2023-06-16 20:30:31.648,2023-06-16 20:36:52.546,Lafayette St & Grand St,5422.09,Allen St & Rivington St,5414.06,40.720280,-73.998790,40.720196,-73.989978,member

Isolate the data to show Citibike usage during the weekend of NYC Pride Festival 2023
June 23, 2023 - June 25, 2023

In [9]:
#isloate data for specified date range
pride_weekend_2023 = june_data_df[(june_data_df['started_at'] >= '2023-06-23 00:00:00') & (june_data_df['ended_at'] <= '2023-06-25 23:59:59')]
pride_weekend_2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
35,85C25D752209BE10,classic_bike,2023-06-25 15:34:56.514,2023-06-25 15:41:52.901,E 40 St & Park Ave,6432.11,W 52 St & 5 Ave,6700.01,40.750756,-73.978326,40.759923,-73.976485,member
41,D2443436DDD8A295,classic_bike,2023-06-25 16:05:46.616,2023-06-25 17:05:03.455,Pleasant Ave & E 116 St,7450.05,28 St & 41 Ave,6462.19,40.794988,-73.933335,40.751047,-73.937970,member
57,C74FC11925E2666F,classic_bike,2023-06-25 17:59:16.287,2023-06-25 18:02:32.612,Lenox Ave & W 117 St,7655.22,Frederick Douglass Blvd & W 115 St,7658.13,40.802557,-73.949078,40.803865,-73.955931,member
58,48ACB7A1BA2EE3AE,electric_bike,2023-06-25 19:27:02.819,2023-06-25 20:05:57.900,Morris Ave & E 171 St,8209.01,College Ave & E 169 St,8141.05,40.839052,-73.910796,40.835123,-73.911968,member
66,F0DC537A7FDACA73,electric_bike,2023-06-24 12:50:28.669,2023-06-24 13:44:20.180,W 54 St & 9 Ave,6920.03,E 40 St & Park Ave,6432.11,40.765837,-73.986900,40.750756,-73.978326,casual

In [10]:
#export to csv
pride_weekend_2023.to_csv('pride_2023.csv', index=False)